.container-family {
  padding: 20px;
  border-width: 2px;
  border-style: dashed;
  border-color: #d8d8d8;
  border-radius: 4px;
  background: #ebf4ff;
  margin-bottom: 12px;
}
.add-family {
  margin-top: 20px;
  padding: 20px;
  border-width: 2px;
  border-style: dashed;
  border-color: #6880ff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  color: #6880ff;
  background: #e5e4e4;
}

.button-back {
  border-radius: 17px;
  width: 100px;
  border: solid 1px #6880ff;
}
.button-file {
  background: #6880ff;
  color: white;
  border-radius: 17px;
  width: 100px;
  margin-right: 12px;
}
